<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<!--
/*Main*/
html,body {
	width: auto !important;
	overflow-x: hidden !important;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
	background-color:#404040;
}

/* Page Title bar*/
.pageTitle {
	font-variant: small-caps;
	font-size: 7.99vw;
	color: #fff; 
	text-decoration: none;
}
.titleContainer {
	text-align: center;
}

/*Nav bar*/
#navContainer {
 margin: 0 auto;
}
nav {
	color: #A3C7B2;
	margin:0;
	padding:0;
	border:0;
	text-align:center;
	background-color:#000;
	margin-top: 3em;
	width: 100%;
}
nav ul {
	display:inline;
	padding: 0;
	margin: 0 2vw; /*Space from left edge to first menu item*/
	list-style: none;
	position: relative;
 } 
nav ul li {
	display:inline-block;
	background-color:#000;
}
nav a {
 display:block;
 padding:0 2vw; /*Space between menu items*/
 color:#FFF;
 font-size:3vw;
 line-height: 6vw; /*how tall is the menu bar*/
 text-decoration:none;
}
nav a:hover { 
 background-color: #333; 
}
nav ul ul {
 display: none;
 position: absolute;
 top: 2.5vw; /*Needs to match nav a line-height for menu to line up*/
} 
nav ul li:hover > ul {
 display:inherit;
} 
nav ul ul li {
 left:-9vw;  /*Left edge of dropdown menu */
 width:25vw; /*Width of dropdown menu section*/
 float:none;
 display:list-item;
 position: relative;
}
nav ul ul ul li {
 top: -6vw; /*Negative of nav ul ul top*/
 left: 23vw;  /*nav ul ul li width - nav a padding (2nd value)*/
}

/* Content */
div.content {
	padding-top: 3em;
	/* top 5px plus height 30px */ margin: 2px 1em 0 5px;
}

/* Copyright container */
.copyright {
	color: #fff;
	font-weight: bold;
	text-align: center;
}

/* Features */
/*Images fit viewport*/
img {
max-width: 100vw;
max-height: 100vh;
height: auto;
object-fit: contain
}
/*For Video - Responsive iFrame https://www.benmarshall.me/responsive-iframes/*/
.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
/* popup span class hover functionality. */
.popup {
	background: #9df;
	border-radius: 15px;
}
.popup span {
	position: absolute;
	/*margin: top  right bottom left*/
	margin-left: auto;
	margin-right: auto;
	margin: 15px 5px 0 -30px;
	text-align: center;
	
	padding: 3px 3px 3px 3px;
	border-style:solid;
	border-color:black;
	border-width:1px;
	border-radius: 15px;
	background: #fff;
	color: #000;
	
	display: none;
}
.popup:hover span {
	display: inherit;
} 
/* Text highlight color rotation functionality */
:root {
 --highlight-color: null;
 --foreground-color: null;
}
::selection {
 background: var(--highlight-color);
 color: var(--foreground-color);
}
/* Custom scrollbar - https://css-tricks.com/custom-scrollbars-in-webkit */ 
::-webkit-scrollbar {
	width: 12px;
}
/* Track */ ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
/* Handle */ ::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(200,200,200,0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/*Misc*/
/*Text and quote bubbles*/
.textBubbleBG {
	padding: 10px;
	background: #eee;
	border: 1px solid #000;
	border-radius: 15px;
	overflow:  auto;
}
.flexBubbleBG {
	padding: 10px;
	background: #eee;
	border: 1px solid #000;
	border-radius: 15px;
	display: inline-block;
	max-width: 98%;
	overflow-x: scroll;
}
.quotation {
font-weight: bold;
}
.img-rounded {
	text-align:center; 
	padding: 0 20vw; 
	border-radius: 15px;
}
/*Tables*/
table, table td {
border-collapse: collapse;
border: 1px solid #000;
padding: 3px;
}
table td, table th {
padding: 4px;
border: 1px solid #000;
/*border-radius: 15px;*/
}
table th {
padding: 6px 3px 3px 6px;
border: 1px solid #000;
background: #6af;
text-align:center;
}
.THeader {
	width:52px;
}
.TRow {
	height: 45px;
	line-height: 45px;
}
/* Et cetera */
input {
	border-radius: 15px;
	width: 100px;
}
textarea {
	border-radius: 15px;
	width: 75vw;
	height: 10vh;
}
a {
color: #44c;
}
/*Array colors*/
.maxValueInArray{
  background: green;
  color: white;
}
.red0{background-color:#fdf2f1}
.red1{background-color:#fae5e3}
.red2{background-color:#f8d8d5}
.red3{background-color:#f5cbc7}
.red4{background-color:#f3beb9}
.red5{background-color:#f0b1ab}
.red6{background-color:#eea49d}
.red7{background-color:#eb978f}
.red8{background-color:#e98a81}
.red9{background-color:#e67c73}

.blue0{background-color:#edf3fe}
.blue1{background-color:#dae7fd}
.blue2{background-color:#c7dbfc}
.blue3{background-color:#b4cffb}
.blue4{background-color:#a1c2fa}
.blue5{background-color:#8eb6f9}
.blue6{background-color:#7baaf8}
.blue7{background-color:#689ef7}
.blue8{background-color:#5592f6}
.blue9{background-color:#4285f4}


/*Page-specific*/
/*Index game*/
#game_view {
	display: block;
	margin: 0px auto;
	border: 1px solid black;
	background: #fff;
	max-height: 80vh;
	max-width: 95vw;
}
/*History page*/
.dateTimeCol {
background: #ffb;
}
.eventOrNote {
background: #dff;
}
.reference {
background: #fdb;
text-align: center;
}
/*RGB page*/
.contentItems {
	font-size: initial;
}
.contentTitles {
	text-align: center;
	font-size: xx-large;
	background-color:#eee;
	color:#000;
}
.colorRow {
	text-align: center;
	font-size: x-large;
	color:#fff;
	border:white;
}
.contentRow {
	text-align: center;
	font-size: x-large;
	border:white;
}
/* Some calculator */
span.Earth {background: aqua; color: forestgreen;}

/*One-off stuff from the blog.*/
.PSComment { color: #888 }
.PSVariable { color: #22c}
span.PowershellBlue {background: #012456; color: #fff;}
span.PowershellBlack {background: #0c0c0c; color: #ccc;}
.htmlTag:before {content:  "<";}
.htmlTag {background-color: #6f6}
.htmlTag:after {content:  ">";}
.codeComment { color: #888 }
.codeVariable { color: #22c}
.codeQuote { color: #c63}
.codeType { color: #272}
.codeLine { background-color: #ddd}
.codeWrapper {
	margin-left: 2vw;
	background: #ccc;
	font-family: monospace;
	font-size: 1rem;
	overflow-x: auto;
}
.code {
	background: #ccc;
	font-family: monospace;
	font-size: 1rem;
	overflow-x: auto;
}
.commentHeader {
	display: block;
	margin-block-start: 1.33em;
	margin-block-end: 1.33em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}
.floatingBubble {
 display: inline-block;
 max-width: 98%;
}
.validInput {
	background-color:#d9ead3;
}
.saltine .house {
	text-align:center;
	vertical-align:center;
	padding:2px 3px 2px 3px;
}.saltine .house a {
	color: inherit;
} .s0{
	background-color:#ffd966;
}.s1{
	background-color:#ffe599;
} .s2{
	background-color:#fff2cc;
} .s3{
	background-color:#ffff00;
} .s4{
	background-color:#ff9900;
} .s5{
	background-color:#c9daf8;
} .s6{
	background-color:#f1c232;
} .s7{
} .tableYes{
	background-color:#D9EAD3;
} .tableNo{
	background-color:#F4CCCC;
} .tableMaybe{
	background-color:#FCE5CD;
}

-->
